html {overflow-y: scroll}

body {
   background-color: #fff;
   min-height: 100%;
   max-width: 800px;
   
   color: #000;
   background-color: #fff;
   
   margin:40px auto; padding:0 10px; font:14px/1.5 monospace;
}

img {
	display: block; max-width: 50%; height: auto; margin-left: auto; margin-right: auto;
}

#us {
	max-width: 40%;
	border: 1px solid black;
	padding: 4px;

	float: left;
	margin-right: 32px;
}

.faded {
	color: #777;
}
